@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

:root
{
    --text: #565360;
    --label: #908e9b;
    --disabled: #e1dfe9;
    --font1: font-family: 'Viga', sans-serif;
    --fontHead: font-family: 'Jersey 20', sans-serif;

}
.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.body-cont
{
    background-image: url(web-design-2906159_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
body
{
    background-color: #231557;
    font-size: 15px;
    font-family: 'DM Mono', monospace !important;  
    margin: 0%;
}
.animate-charcter
{
   text-transform: uppercase;
   font-family: 'Viga', sans-serif;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.hero-txt
{
    margin-top: 0px !important;
    padding-top: 30px;

    width: 100%;
}
.display-6.text-light.nameText
{
    color: var(--label) !important;
}
.navbar.navbar-expand-lg
{
    background-color: var(--disabled) !important;
    
}
.navbar-brand
{
    font-family: 'Viga', sans-serif;  
}
/* this is styling for the about me page */
.Abt-me-txt
{
    
    color: var();
    padding-left: 35%;
    padding-top: 10%;
    font-size: x-large;
    font-family: 'Jersey 20', sans-serif ;
}
.abt-me-sect
{
    /* height: 100vh; */
    height: calc(auto + 20px) !important;
    padding-bottom: 5%;
   background-size: cover;
    background-color: var(--disabled);
    background-image: url(white-paper-texture-background.jpg);
}
.img-sect.col-md-10.col-lg-6
{
   height: 60%;
   width: 250px;
    background-color: var(--text);
}
.col-md-10.col-lg-6.img-sect
{

}
.thanks
{
  color: rgb(89, 0, 255);
}
.img-size{
    width: 100%;
    height: 100%;
}
.dwn-cv.btn
{
    border: 1px solid var(--text);
   
  
}
.dwn-cv.btn:hover
{
    border: 1px solid var(--label);
    color: var(--disabled);
    background-color: var(--label);
  
}
.skill-pge
{
    background-image: url(42.jpg);
    background-color: rgba(red, green, blue, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100% + 10px);
    
    height: 100vh;
    
  
}
.col-md-4.card-bord
{
  margin-top: 5% !important; 
}

/* Skills page styles */
.proj-cont {
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-out;
    border-radius: 0.5rem;
    margin-top: 5%;
  }
  
  .proj-cont:hover {
    box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
  }
  
  .img-container {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease-out;
    z-index: 2;
  }
  
  .img-container:hover {
      cursor: pointer;
  }
  
  .proj-cont:hover .img-container {
      transform: translateY(-100px);
  }
  
  .img-container > img {
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-out;
  }
  
  .proj-cont:hover > .img-container > img {
    opacity: 0.5;
  }
  
  .social-media {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    margin: 0;
    padding: 0;
  }
  
  .social-media > li {
    list-style: none;
  }
  
  .social-media > li > a {
    display: block;
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: var(--disabled);
    text-align: center;
    color: #262626;
    margin: 0 5px;
    border-radius: 0.5rem;
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.3s ease-out;
  }
  
  .proj-cont:hover > .social-media > li > a {
    transform: translateY(0);
    opacity: 1;
    color: var(--disabled);
    text-decoration: none;
  }
  
  .social-media > li > a > .fa {
    font-size: 24px;
    line-height: 50px;
    transition: transform 0.3s ease-out;
  }
  
  .social-media > li > a:hover > .fa {
    transform: rotateY(360deg);
  }
  
  .proj-cont:hover .social-media li:nth-child(1) a {
      transition-delay: 0s;
  }
  
  .proj-cont:hover .social-media li:nth-child(2) a {
      transition-delay: 0.1s;
  }
  
  .proj-cont:hover .social-media li:nth-child(3) a {
      transition-delay: 0.2s;
  }
  
  .proj-cont:hover .social-media li:nth-child(4) a {
      transition-delay: 0.3s;
  }
  
  .proj-cont:hover .social-media li:nth-child(5) a {
      transition-delay: 0.4s;
  }
  
  .user-info {
    position: absolute;
      bottom: 0;
      left: 0;
      background-color: transparent;
      color: var(--disabled);
      height: 100px;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    text-align: center
  }
  
  .user-info > h2 {
    padding: 0;
    margin: 10px 0;
  }
  
  .user-info > span {
    color: #262626;
    font-size: 16px;
  }
  .proj-page
  {
    background-color: #262626;
    height: calc(auto + 200px);
    background-image: url(abstract-timekeeper.png);

  }
  .end-0f-line
  {
    height: 1000px;
  }

  /*------=====================================================================================*/
  .cnt-page
  {
    height: calc(auto + 50px);
    padding-bottom: 5%;
    background-color: var(--disabled);
  }
  .cont-form
  {
    border: 1px solid var(--text);
    border-radius: 0.5rem;
  }
  .col-md-6.col-lg-4.border.cont-form
  {
    border: 1px solid var(--text) !important; 
    border-radius: 0.5rem !important;
    padding: 2%;
    width: 32%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .message
  {
    height: 20% !important;
  }
  .col-md-6.col-lg-4.border.cont-form > input
  {
    height: 15% !important;
    
  }
  .col-md-6.col-lg-4.border.cont-form > textarea
  {
    height: 100px !important;
  }
  .col-md-6.col-lg-4.border.cont-form > button
  {
    width: 50%;
    margin-left: 25%;
  }
  .col-md-6.col-lg-4.cont-line
  {
    border-left: 1px solid var(--text);
  }
  .foot-sect
  {
    background-color: #262626;
  }
  .col-md-12.foot-sect
  {
    
    background-color: #262626 !important;
  }
  .row.justify-content-center.foot-sect
  {
    background-color: #262626;
  }

  .foot-sect
  {
    display: flex;
   background-color: #565360;
   background-image: url(vanishing-stripes.png);
   justify-content: space-around;
    padding-left: 2%;
    padding-top: 3%;
    height: calc(auto + 50px);
    padding-bottom: 5%;
  }
  .quick
  {
    display: flex;
    flex-direction: column;
  }
  .quick > a
  {
      text-decoration: none;
      color: var(--disabled);
      width:fit-content;
    
  }
  .contsct
  {
    color: var(--disabled);
   
  }